
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
*{
    background: lightgray;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    position: relative;
    overflow: hidden;
    img{
        width: 80%;
    }
}

.boxes{
    height: auto;
    padding-top: 10%;
    
    .box-wrapper{
        position: relative;
    }
    .box{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100%;
    }
    .box1{
        width: 30vw;
        height: 80vh;
        position: absolute;
        left: 100px;
        background: black;
    }
    .box2{
        width: 40vw;
        height: 50vh;
        position: absolute;
        right: 30px;
        bottom: -850px;
        background: #003f56;
    }
    .box3{
        width: 30vw;
        height: 60vh;
        position: absolute;
        left: 100px;
        bottom: -1300px;
        background: #3f3f3e;
    }
    .box4{
        width: 40vw;
        height: 80vh;
        position: absolute;
        right: 0;
        bottom: -1700px;
        background: #0e0e0e;
    }
    .box5{
        width: 40vw;
        height: 60vh;
        position: absolute;
        left: 80px;
        bottom: -2000px;
        background: #f61189;
    }
    .box6{
        width: 50vw;
        height: 50vh;
        position: absolute;
        right: 20px;
        bottom: -2350px;
        background: #254339;
    }
    .box7{
        width: 30vw;
        height: 70vh;
        position: absolute;
        left: 20px;
        bottom: -2820px;
    }
    .box8{
        width: 50vw;
        height: 40vh;
        position: absolute;
        right: 100px;
        bottom: -3100px;
        background: #f47c20;
    }
    .box9{
        width: 30vw;
        height: 40vh;
        position: absolute;
        left: 200px;
        bottom: -3400px;
    }
    .hidden{
        opacity: 0;
        animation: fadeleft 2s .5s ease-in forwards;
        transform: translateX(-4rem);
    }
}

footer{
    position: absolute;
    bottom: -3700px;
    width: 100%;
    box-sizing: border-box;
    
    .container{
        border-top: 2px solid black;
        justify-content: space-around;
    }
    p{
        text-align: center;
        padding: 30px;
    }
}

/* Animations */

@keyframes fadeleft {
    100% {
      opacity: 1;
      transform: none;
    }
}